*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0F4C81;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{

    width:400px;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0px 10px 25px rgba(0,0,0,0.2);

}

.login-box h1{

    text-align:center;

    color:#0F4C81;

    margin-bottom:10px;

}

.login-box h3{

    text-align:center;

    color:gray;

    margin-bottom:30px;

}

label{

    display:block;

    margin-top:15px;

    margin-bottom:8px;

    font-weight:bold;

}

input{

    width:100%;

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:16px;

}

button{

    width:100%;

    margin-top:25px;

    padding:13px;

    background:#0F4C81;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:18px;

}

button:hover{

    background:#08375f;

}