*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0F4C81;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{

    width:400px;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0px 10px 25px rgba(0,0,0,0.2);

}

.login-box h1{

    text-align:center;

    color:#0F4C81;

    margin-bottom:10px;

}

.login-box h3{

    text-align:center;

    color:gray;

    margin-bottom:30px;

}

label{

    display:block;

    margin-top:15px;

    margin-bottom:8px;

    font-weight:bold;

}

input{

    width:100%;

    padding:12px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:16px;

}

button{

    width:100%;

    margin-top:25px;

    padding:13px;

    background:#0F4C81;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:18px;

}

button:hover{

    background:#08375f;

}

.sidebar{

    position:fixed;

    width:230px;

    height:100%;

    background:#0F4C81;

    padding-top:20px;

}

.logo{

    width:90px;

    display:block;

    margin:auto;

    border-radius:50%;

}

.sidebar h2{

    color:white;

    text-align:center;

    margin:15px 0;

}

.sidebar a{

    display:block;

    color:white;

    text-decoration:none;

    padding:15px;

    font-size:18px;

}

.sidebar a:hover{

    background:#08375f;

}

.main{

    margin-left:250px;

    padding:30px;

}

.cards{

    display:flex;

    gap:20px;

    margin:30px 0;

}

.card{

    background:white;

    width:220px;

    padding:25px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.2);

    text-align:center;

}

.card h2{

    color:#0F4C81;

}

table{

    width:100%;

    border-collapse:collapse;

    background:white;

}

table th{

    background:#0F4C81;

    color:white;

    padding:15px;

}

table td{

    padding:15px;

    border:1px solid #ddd;

}